	 #spb-information-bar {
    position: relative;
    top: 0px;
    bottom: auto;
    padding: 0 30px;
    width: 100%;
    height: auto;
    min-height: 38px;
    background: #67a747;
    font-family: arial,helvetica,sans-serif;
    text-align: center;
    line-height: 2;
    transition-property: top, bottom;
    -webkit-transition-property: top, bottom;
    -moz-transition-property: top, bottom;
    -ms-transition-property: top, bottom;
    -o-transition-property: top, bottom;
    transition-duration: 0.5s, 0.3s;
    -webkit-transition-duration: 0.3s, 0.3s;
    -moz-transition-duration: 0.3s, 0.3s;
    -ms-transition-duration: 0.3s, 0.3s;
    -o-transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in-out, ease-in-out;
    -webkit-transition-timing-function: ease-in-out, ease-in-out;
    -moz-transition-timing-function: ease-in-out, ease-in-out;
    -ms-transition-timing-function: ease-in-out, ease-in-out;
    -o-transition-timing-function: ease-in-out, ease-in-out;

    position: fixed;
    z-index: 999999;
    top: 32px;
    height: 100px;
}

#spb-information-bar .spb_table{
	 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


li.ca-share-button .fa {
    font-size: 28px;
    color: #fff;

    padding: 10px;
    border-radius: 200px;
}
li.ca-share-button a{
    display:inline-block;
}
div#ca-button-container li {
    display:inline-block;
    padding: 10px;
}

.input.form-field .fa {
    background: transparent;
    color: #333;
    font-size: 12px;
}

.fw-step-controls .fa {
    background: transparent;
    font-size: 14px;
    padding: 0;
    color: #333;
}

.fa-field-current-icon .fa {
    background: transparent;
    color: #333;
}

.fa-field-metabox .fa-field-current-icon .icon{
	font-size: 20px;
	padding: 0;
}
.ca_meta-box-sortables.ui-sortable .fa ,
.meta-box-sortables.ui-sortable .fa {
    background: transparent;
}

.ca_meta-box-sortables .fa {
    border-radius: 0;
    background: transparent;
    color: #333;
}

.ca_mobile_module_collection {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.main-navigation li {
    width: 100%;
    text-align: center;
}

nav#site-navigation {
    background: #fff;
    box-shadow: none;
}

@media screen and (min-width:1000px){
    .main-navigation li {
        width: auto;
        text-align: center;
    }

}